@model ClinicaMVC.Models.especialidades

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DETALLES</h2>

<div>
    <h4>ESPECIALIDADES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Franja_HI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Franja_HI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Franja_HF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Franja_HF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdEspecialidad }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
